* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------*/

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Tenor Sans";
  font-weight: 400;
  src: url("/fonts/TenorSans-Regular.woff2") format("woff2");
}

.btn {
  border-radius: 10000000px;
  background-color: #e0502e;
  display: flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  border: 2px solid #e0502e;
}

.btn p,
.btn span {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  transition: color 0.5s ease 0s;
}

.btn:hover {
  background-color: transparent;
}

.btn:hover p,
.btn:hover span {
  color: #000000;
}

.btn_transparent {
  background-color: transparent;
}

.btn_transparent p,
.btn_transparent span {
  color: #000000 !important;
}

.btn_transparent:hover {
  background-color: #e0502e;
}

.btn_transparent:hover p,
.btn_transparent:hover span {
  color: #ffffff !important;
}

.btn_white {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.btn_white p,
.btn_white span {
  color: #000000 !important;
  font-weight: 700;
}

.btn_white:hover p {
  color: #ffffff !important;
}

.marker {
  position: absolute;
  top: 3px;
  left: 0;
}

.marker img {
  position: relative;
  margin-top: 38px;
  margin-left: 25px;
  z-index: 2;
}

.marker span {
  position: relative;
}

.marker span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 130px solid #e0502e;
  border-right: 130px solid transparent;
}

.hero {
  padding: 60px 0;
  position: relative;
  background-image: url(/images/service_top_img.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero h2 {
  color: #000000;
  text-align: right;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero__nav {
  border-radius: 4px;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 8px 18px;
}

.hero__nav a {
  color: #000000;
  text-align: right;
  line-height: 24px;
  cursor: pointer;
}

.hero__nav span {
  color: #e0502e;
  text-align: right;
  line-height: 24px;
  font-weight: 400;
}

.aboutage-text {
  padding: 40px 0;
}

.aboutage-text img {
  width: 480px;
  height: 445px;
  margin: 10px;
}

.aboutage-text img:nth-of-type(odd) {
  float: right;
}

.aboutage-text img:nth-of-type(even) {
  float: left;
}

.aboutage-text p {
  color: #757575;
  margin-bottom: 10px;
  line-height: 24px;
}

.aboutage-text p:last-of-type {
  margin-bottom: 0;
}

.aboutage-text a {
  color: #e0502e;
}

.doctorspage-staff {
  padding: 40px 0;
}

.doctorspage-staff__container {
  width: 100%;
  display: -moz-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 10px;
}

.doctorspage-staff__card {
  position: relative;
  display: block;
}

.doctorspage-staff__card:hover h3 {
  color: #e0502e;
}

.doctorspage-staff__card img {
  margin-bottom: 5px;
  -o-object-fit: contain;
  object-fit: contain;
  width: auto;
  width: 262.5px;
}

.doctorspage-staff__card h3 {
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  margin-bottom: 7px;
  transition: color 0.3s ease 0s;
}

.doctorspage-staff__card p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.doctorspage-staff__marker {
  position: absolute;
  top: 3px;
  left: 0;
}

.doctorspage-staff__marker img {
  position: relative;
  margin-top: 18px;
  margin-left: 15px;
  width: 37px;
  height: 31px;
  z-index: 2;
}

.doctorspage-staff__marker span {
  position: relative;
}

.doctorspage-staff__marker span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 120px solid #e0502e;
  border-right: 120px solid transparent;
}

.catalogpage-accordeon {
  padding: 40px 0;
  position: relative;
}

.catalogpage-accordeon__item {
  background-color: #ffffff;
  margin-bottom: 9px;
  border: 1px solid #e3e3e3;
}

.catalogpage-accordeon__item:last-of-type {
  margin-bottom: 0;
}

.catalogpage-accordeon__item.active {
  border: 1px solid #e0502e;
}

.catalogpage-accordeon__item.active .accordeon__item-head {
  background-color: #e0502e;
  color: #ffffff;
  line-height: 42px;
}

.catalogpage-accordeon__item.active .accordeon__item-body {
  max-height: 500px;
  padding: 20px 40px 40px 20px;
}

.catalogpage-accordeon__item.active .accordeon__item-arrow img {
  transform: rotate(0deg);
}

.catalogpage-accordeon__item-head {
  padding: 15px 22px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.catalogpage-accordeon__item-arrow {
  width: 24px;
  height: 24px;
  background-color: #e0502e;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogpage-accordeon__item-arrow img {
  transform: rotate(-90deg);
  transition: transform 0.3s ease 0s;
}

.catalogpage-accordeon__item-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 40px 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transition: height 0.3s ease 0s;
  transition: padding 0.3s ease 0s;
}

.catalogpage-accordeon__item-body a {
  color: #757575;
  transition: color 0.5s ease 0s;
  width: 47%;
  position: relative;
  margin-left: 25px;
}

.catalogpage-accordeon__item-body a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  width: 15px;
  height: 16px;
  background-image: url(/images/icons/checkbox.svg);
}

.catalogpage-accordeon__item-body a:hover {
  color: #e0502e;
}

.pricepage-accordeon {
  padding: 40px 0;
  position: relative;
}

.pricepage-accordeon__item {
  background-color: #ffffff;
  margin-bottom: 9px;
  border: 1px solid #e3e3e3;
}

.pricepage-accordeon__item:last-of-type {
  margin-bottom: 0;
}

.pricepage-accordeon__item.active {
  border: none;
}

.pricepage-accordeon__item.active .accordeon__item-head {
  background-color: #e0502e;
  color: #ffffff;
  line-height: 42px;
}

.pricepage-accordeon__item.active .accordeon__item-body {
  max-height: 5000px;
}

.pricepage-accordeon__item.active .accordeon__item-body td {
  padding: 10px;
  line-height: 100%;
  opacity: 1;
}

.pricepage-accordeon__item.active .accordeon__item-arrow img {
  transform: rotate(0deg);
}

.pricepage-accordeon__item-head {
  padding: 15px 22px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.pricepage-accordeon__item-arrow {
  width: 24px;
  height: 24px;
  background-color: #e0502e;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricepage-accordeon__item-arrow img {
  transform: rotate(-90deg);
  transition: transform 0.3s ease 0s;
}

.pricepage-accordeon__item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease 0s;
}

.pricepage-accordeon__item-body table {
  border: 1px solid #e3e3e3;
  width: 100%;
  border-collapse: collapse;
}

.pricepage-accordeon__item-body table tr {
  border-bottom: 1px solid #e3e3e3;
}

.pricepage-accordeon__item-body table tr:last-of-type {
  border-bottom: none;
}

.pricepage-accordeon__item-body table tr.glav {
  background-color: #f4ab01;
  color: white;
}

.pricepage-accordeon__item-body table tr td {
  padding: 0 10px;
  opacity: 0;
  line-height: 0%;
  transition: all 0.3s ease 0s;
}

.pricepage-accordeon__item-body table tr td:first-of-type {
  border-right: 1px solid #e3e3e3;
  width: 83%;
}

.contactspage-form {
  padding: 100px 0 70px;
  background-image: url(/images/contact_us_bg.jpg);
  background-size: cover;
  background-position: center 0;
  overflow: hidden;
  background-repeat: no-repeat;
}

.contactspage-form__container {
  width: 750px;
  margin: 0;
}

.contactspage-form p {
  margin-bottom: 30px;
  color: #757575;
  line-height: 24px;
}

.contactspage-form form {
  width: 100%;
}

.contactspage-form form textarea,
.contactspage-form form input[type=text],
.contactspage-form form input[type=tel] {
  border: 2px solid #e3e3e3;
  color: #757575;
  padding-left: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  transition: border 0.5s ease 0s;
}

.contactspage-form form textarea:hover,
.contactspage-form form textarea:focus,
.contactspage-form form textarea:active,
.contactspage-form form input[type=text]:hover,
.contactspage-form form input[type=text]:focus,
.contactspage-form form input[type=text]:active,
.contactspage-form form input[type=tel]:hover,
.contactspage-form form input[type=tel]:focus,
.contactspage-form form input[type=tel]:active {
  border: 2px solid #e0502e;
}

.contactspage-form form textarea {
  padding-top: 10px;
  width: 100%;
  height: 128px;
  margin-bottom: 10px;
}

.contactspage-form form label {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.contactspage-form form label p {
  color: #757575;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
}

.contactspage-form form button {
  padding: 10px 30px;
}

.contactspage-form form button p {
  font-family: "Open Sans";
  color: #ffffff;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.contactspage-form__inputs {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.contactspage-form__inputs input {
  height: 50px;
  display: flex;
  flex: 1;
  align-items: center;
}

.contactspage-cards {
  z-index: 2;
  position: relative;
}

.contactspage-cards__container {
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.contactspage-cards__item {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 35px;
  border: 2px solid #e0502e;
  background-color: #ffffff;
}

.contactspage-cards__item:last-of-type a {
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}

.contactspage-cards__item:last-of-type a:hover {
  color: #e0502e;
}

.contactspage-cards__item h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
}

.contactspage-cards__item a {
  color: #e0502e;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.contactspage-cards__item p {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.contactspage-cards__marker img {
  margin-top: 24px;
  margin-left: 23px;
}

.contactspage-cards__marker span::before {
  border-top: 120px solid #e0502e;
  border-right: 120px solid transparent;
}

.sharespage {
  padding: 40px 0;
}

.sharespage__container {
  display: flex;
  justify-content: space-between;
}

.sharespage__shares {
  flex: 1 0;
}

.sharespage__card {
  margin-bottom: 40px;
}

.sharespage__card:hover .sharespage__card-image img {
  transform: scale(1.1);
}

.sharespage__card:hover a {
  gap: 10px;
}

.sharespage__card-image {
  margin-bottom: 30px;
  overflow: hidden;
}

.sharespage__card-image img {
  transform: scale(1);
  transition: transform 0.3s ease 0s;
}

.sharespage__card h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  font-family: Montserrat;
  margin-bottom: 10px;
}

.sharespage__card ul {
  margin-bottom: 10px;
  color: #757575;
  display: flex;
  gap: 35px;
}

.sharespage__card ul li {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
}

.sharespage__card ul li:after {
  content: "";
  background-color: #757575;
  position: absolute;
  top: 4px;
  right: -17px;
  width: 1px;
  height: 73%;
}

.sharespage__card ul li:last-of-type::after {
  content: none;
}

.sharespage__card-description {
  line-height: 26px;
  color: #757575;
  margin-bottom: 18px;
}

.sharespage__card a {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: gap 0.3s ease 0s;
}

.sharespage__card a span {
  line-height: 24px;
  color: #e0502e;
}

.blogpage {
  padding: 40px 0;
}

.blogpage__container {
  display: flex;
  justify-content: space-between;
}

.blogpage__shares {
  flex: 1 0;
}

.blogpage__card {
  margin-bottom: 40px;
}

.blogpage__card:hover .blogpage__card-image img {
  transform: scale(1.1);
}

.blogpage__card:hover a {
  gap: 10px;
}

.blogpage__card-image {
  margin-bottom: 30px;
  overflow: hidden;
}

.blogpage__card-image img {
  transform: scale(1);
  transition: transform 0.3s ease 0s;
}

.blogpage__card h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  font-family: Montserrat;
  margin-bottom: 10px;
  transition: color 0.3s ease 0s;
}

.blogpage__card ul {
  margin-bottom: 10px;
  color: #757575;
  display: flex;
  gap: 35px;
}

.blogpage__card ul li {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
}

.blogpage__card ul li:after {
  content: "";
  background-color: #757575;
  position: absolute;
  top: 4px;
  right: -17px;
  width: 1px;
  height: 73%;
}

.blogpage__card ul li:last-of-type::after {
  content: none;
}

.blogpage__card-description {
  line-height: 26px;
  color: #757575;
  margin-bottom: 18px;
}

.blogpage__card a {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: gap 0.3s ease 0s;
}

.blogpage__card a span {
  line-height: 24px;
  color: #e0502e;
}

.timepage {
  padding: 40px 0;
  color: #757575;
  line-height: 24px;
}

.timepage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timepage__title {
  text-align: center;
  margin-bottom: 24px;
}

.timepage table {
  border-collapse: collapse;
}

.timepage table tr {
  border-top: 1px solid #e3e3e3;
}

.timepage table th,
.timepage table td {
  padding: 8px;
}

.timepage table th {
  font-weight: 400;
}

.timepage table td {
  text-align: center;
  vertical-align: top;
  width: 28%;
  padding-bottom: 32px;
}

.timepage table td:first-of-type {
  text-align: left;
  width: 24%;
}

.timepage table td:last-of-type {
  width: auto;
}

.photopage {
  padding: 40px 0 60px;
}

.photopage__container {
  width: 100%;
  display: -moz-grid;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 15px;
}

.photopage__card {
  position: relative;
  cursor: pointer;
}

.photopage__card img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.photopage__card-marker {
  position: absolute;
  bottom: 0;
  right: 0;
}

.photopage__card-marker img {
  position: absolute;
  width: 17px;
  height: 18px;
  z-index: 2;
  bottom: 15px;
  right: 15px;
}

.photopage__card-marker span {
  position: relative;
}

.photopage__card-marker span::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 80px solid #e0502e;
  border-left: 80px solid transparent;
}

.legal {
  padding: 100px 0 40px;
}

.legal__container {
  display: flex;
  gap: 20px;
}

.legal__sidebar h3 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.legal__nav {
  position: sticky;
  top: 140px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  width: 365px;
  overflow: hidden;
}

.legal__nav-item {
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.legal__nav-item:last-of-type {
  border-bottom: none;
}

.legal__nav-item.active {
  background-color: #e0502e;
  color: #ffffff;
  cursor: default;
}

.legal__info {
  position: relative;
  width: 100%;
}

.appointment {
  padding: 40px 0;
  color: #757575;
  line-height: 24px;
}

.appointment form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appointment form input:not(input[type=checkbox]),
.appointment form textarea {
  border: 2px solid #e3e3e3;
  padding: 20px;
  width: 100%;
  transition: border 0.3s ease 0s;
}

.appointment form input:not(input[type=checkbox]):hover,
.appointment form input:not(input[type=checkbox]):active,
.appointment form input:not(input[type=checkbox]):focus,
.appointment form textarea:hover,
.appointment form textarea:active,
.appointment form textarea:focus {
  border: 2px solid #e0502e;
}

.appointment form label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  margin-bottom: 10px;
}

.appointment form button {
  padding: 10px 20px;
}

.appointment__inputs {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.appointment__input {
  width: 100%;
}

.appointment__input p {
  text-align: center;
}

.appointment__input p span {
  font-size: 21px;
  color: #e0502e;
}

.appointment__input input {
  height: 50px;
}

.appointment__input textarea {
  height: 100px;
  margin-bottom: 20px;
}

.single-share {
  padding: 40px 0;
  line-height: 24px;
  color: #757575;
}

.single-share img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.single-share__text {
  margin-bottom: 24px;
}

.single-share__text p {
  margin-bottom: 10px;
}

.single-share a {
  font-family: Montserrat;
  line-height: 32px;
  color: #e0502e;
}

.single-news {
  padding: 40px 0;
  line-height: 24px;
  color: #757575;
}

.single-news img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.single-news__text {
  margin-bottom: 24px;
}

.single-news__text p {
  margin-bottom: 10px;
}

.single-news a {
  font-family: Montserrat;
  line-height: 32px;
  color: #e0502e;
}

.single-doctor {
  padding: 40px 0;
  line-height: 24px;
  color: #757575;
}

.single-doctor__container {
  display: flex;
  gap: 30px;
}

.single-doctor__doctor img {
  width: 30%;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.single-doctor__text {
  margin-bottom: 32px;
}

.single-doctor__text p {
  margin-bottom: 10px;
}

.single-doctor__button {
  display: inline-flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.single-service {
  padding: 40px 0 80px;
}

.single-service__container {
  display: flex;
  gap: 30px;
}

.single-service__image:nth-last-of-type(odd) {
  float: left;
}

.single-service__image:nth-last-of-type(even) {
  float: right;
}

.single-service__text {
  color: #757575;
  line-height: 24px;
}

.single-service__text h1,
.single-service__text h2,
.single-service__text h3,
.single-service__text h4,
.single-service__text h5,
.single-service__text h6 {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  color: #e0502e;
}

.single-service__text h1 {
  font-size: 24px;
  line-height: 32px;
}

.single-service__text h2 {
  font-size: 20px;
  line-height: 24px;
}

.single-service__text h3 {
  font-size: 18px;
  line-height: 21px;
}

.single-service__text h4 {
  font-size: 16px;
  line-height: 21px;
}

.single-service__text h5 {
  font-size: 14px;
  line-height: 21px;
}

.single-service__text h6 {
  font-size: 12px;
  line-height: 21px;
}

.single-service__text b {
  font-weight: 700;
}

.single-service__text p {
  margin-bottom: 10px;
}

.single-service__text ul {
  margin-bottom: 15px;
}

.single-service__text ul li {
  list-style: disc;
}

.single-service__text ul:last-child {
  margin-bottom: 0;
}

.single-service__text ol {
  margin-bottom: 15px;
}

.single-service__text ol li {
  list-style: decimal;
}

.single-service__text li {
  margin-left: 30px;
  margin-bottom: 10px;
}

.single-service__text a {
  color: #e0502e;
}

.fascia {
  height: 50px;
  background-color: #e0502e;
  color: #ffffff;
  position: relative;
  z-index: 11;
}

.fascia__container {
  gap: 30px;
  align-items: center;
  display: flex;
}

.fascia__address,
.fascia__phone {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.fascia__address a,
.fascia__phone a {
  transition: color 0.5s ease 0s;
}

.fascia__address a:hover,
.fascia__phone a:hover {
  color: #f4ab01;
}

.fascia__image {
  height: 36px;
  width: 36px;
  border: 2px solid #f4ab01;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fascia__eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

header {
  height: 75px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

header .header__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  height: 100%;
}

header .header__logo {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}

header nav {
  display: flex;
  font-weight: 700;
  gap: 2px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  height: 100%;
}

header nav li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header nav li a {
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease-out 0s;
}

header nav li a:hover {
  border: 2px solid #e0502e;
}

header nav .header__dropdown {
  cursor: pointer;
}

header nav .header__dropdown .header__popup {
  border-top: 2px solid #e0502e;
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  top: 100%;
  left: 0;
  opacity: 0;
  display: none;
}

header nav .header__dropdown .header__popup li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
  transition: background-color 0.5s ease 0s;
}

header nav .header__dropdown .header__popup li a {
  text-align: left;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  border: none;
  width: 100%;
  border-radius: 0;
  padding: 10px 15px;
  transition: background-color 0.5s ease 0s;
}

header nav .header__dropdown .header__popup li:hover {
  background-color: #e0502e;
}

header nav .header__dropdown .header__popup li:hover a {
  color: #ffffff;
}

header nav .header__dropdown:hover a {
  border: 2px solid #e0502e;
}

header nav .header__dropdown:hover .header__popup {
  display: block;
  opacity: 1;
  pointer-events: all;
}

header nav .header__dropdown:hover .header__popup li a {
  border: none;
}

.footer {
  background-color: #e0502e;
  color: #ffffff;
  overflow: hidden;
}

.footer__container {
  display: flex;
  position: static !important;
}

.footer__address {
  padding-top: 100px;
  padding-bottom: 30px;
  padding-right: 15px;
  height: 100%;
  flex-shrink: 0;
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__address-group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__address-group:last-of-type {
  margin-bottom: 0;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__item p,
.footer__item a {
  font-size: 14px;
  line-height: 24px;
  flex-shrink: 0;
}

.footer__icon {
  height: 36px;
  width: 36px;
  border: 2px solid #f4ab01;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.footer__right {
  padding-top: 100px;
  padding-bottom: 30px;
  flex: 1 0;
  border-left: 1px solid #e3e3e3;
}

.footer__body {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-left: 15px;
}

.footer__body .separator {
  margin-top: 10px;
  margin-bottom: 40px;
}

.footer__services {
  max-width: 290px;
}

.footer__services p {
  line-height: 24px;
}

.footer__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.footer__nav a {
  display: block;
  position: relative;
  margin-left: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  transition: color 0.5s ease 0s;
}

.footer__nav a:hover {
  color: #f4ab01;
}

.footer__nav a:last-of-type {
  margin-bottom: 0;
}

.footer__nav a::before {
  content: "";
  position: absolute;
  background-image: url(/images/icons/triangle.svg);
  top: 50%;
  left: -16px;
  width: 6px;
  height: 16px;
  transform: translateY(-50%);
}

.footer__worktime ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.footer__worktime ul li:last-of-type {
  margin-bottom: 0;
}

.footer__worktime ul li p {
  color: var(--unact, #e3e3e3);
  line-height: 24px;
  /* 150% */
  text-transform: capitalize;
}

.footer__worktime ul li span {
  line-height: 24px;
  /* 150% */
  text-transform: capitalize;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
  padding-left: 15px;
}

.footer__bottom::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  border-top: 1px solid #e3e3e3;
}

.footer__copy {
  color: #e3e3e3;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 2;
}

.footer__copy:first-child {
  text-transform: none;
}

.footer__developer {
  color: #e3e3e3;
  font-family: "Tenor Sans";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 2;
}

.slider-swiper {
  height: 744px;
}

.slider-swiper .slide {
  position: relative;
}

.slider-swiper .slide__container {
  z-index: 2;
  padding-top: 134px;
}

.slider-swiper .slide__medi {
  height: 76px;
  display: inline-flex;
  align-items: center;
  gap: 30px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.slider-swiper .slide__medi h1 {
  color: #e0502e;
  padding: 0 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  font-family: Montserrat;
  line-height: 32px;
}

.slider-swiper .slide__medi span {
  font-family: Montserrat;
  color: #ffffff;
  background-color: #e0502e;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
}

.slider-swiper .slide__title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 80%;
  text-transform: uppercase;
  width: 875px;
  margin-bottom: 30px;
}

.slider-swiper .slide__subtitle {
  width: 875px;
  font-family: Montserrat;
  line-height: 200%;
  margin-bottom: 30px;
}

.slider-swiper .slide__buttons {
  width: 875px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.slider-swiper .slide__button p {
  line-height: 32px !important;
}

.slider-swiper .slide img {
  position: absolute;
  top: 54.5%;
  z-index: 1;
  transform: translateY(-50%);
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 100px !important;
  height: 100px !important;
  background-color: #ffffff;
  border-radius: 10000px;
  overflow: hidden;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev {
  left: 0 !important;
  transform: translateX(-50%);
}

.swiper-button-next {
  right: 0 !important;
  transform: translateX(50%) rotate(180deg);
}

.arrow {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrow img {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dignity {
  position: relative;
  background-image: url(/images/choose_bg.jpg);
  background-size: cover;
  background-position: top center;
  padding: 100px 0;
}

.dignity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.dignity__container {
  display: flex;
}

.dignity__text {
  padding: 0 15px;
}

.dignity__title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.dignity__item {
  background-color: #ffffff;
  margin-bottom: 9px;
  border: 1px solid #e3e3e3;
}

.dignity__item:last-of-type {
  margin-bottom: 0;
}

.dignity__item.active {
  border: 1px solid #e0502e;
}

.dignity__item.active .accordeon__item-body {
  max-height: 500px;
  padding: 30px 40px 40px 20px;
}

.dignity__item.active .accordeon__item-arrow img {
  transform: rotate(0deg);
}

.dignity__item-head {
  padding: 15px 22px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dignity__item-arrow {
  width: 24px;
  height: 24px;
  background-color: #e0502e;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dignity__item-arrow img {
  transform: rotate(-90deg);
  transition: transform 0.3s ease 0s;
}

.dignity__item-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 40px 0 20px;
  transition: height 0.3s ease 0s;
  transition: padding 0.3s ease 0s;
}

.dignity-swiper {
  padding: 0 15px;
  width: 555px;
  height: 500px;
}

.dignity-swiper .swiper-wrapper {
  align-items: start;
}

.dignity-swiper .swiper-slide img {
  top: 50%;
}

.dignity-swiper .swiper-button-prev,
.dignity-swiper .swiper-button-next {
  background-color: #e0502e;
}

.dignity-swiper .arrow img {
  transform: rotate(90deg);
  top: 25%;
  right: 5%;
}

.callback {
  position: fixed;
  top: 90%;
  margin-top: -35px;
  right: 45px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e0502e;
  width: 70px;
  height: 70px;
  animation: callbutmini 1.5s 0s ease-out infinite;
  overflow: hidden;
}

.callback:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/images/icons/callback.png);
  background-repeat: no-repeat;
  background-position: center center;
  animation: callbutphone 1.5s linear infinite;
}

@keyframes callbutmini {
  0% {
    box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0 0 transparent, 0 0 0 0 rgba(23, 167, 167, 0);
  }

  10% {
    box-shadow: 0 0 8px 6px #e0502e, 0 0 12px 10px transparent, 0 0 12px 14px #e0502e;
  }

  100% {
    box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0 40px transparent, 0 0 0 40px rgba(23, 167, 167, 0);
  }
}

.specialists {
  padding: 100px 0 45px;
}

.specialists__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.specialists .separator {
  width: 100%;
  margin: 20px auto;
}

.specialists__paragraph {
  margin: 0px auto;
  width: 65%;
  text-align: center;
  color: #757575;
  text-align: center;
  line-height: 24px;
  margin-bottom: 55px;
}

.specialists__slider {
  margin-bottom: 55px;
}

.specialists__card {
  position: relative;
}

.specialists__card:hover h3 {
  color: #e0502e;
}

.specialists__card img {
  margin-bottom: 5px;
}

.specialists__card h3 {
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  margin-bottom: 7px;
  transition: color 0.3s ease 0s;
}

.specialists__card p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.specialists__marker {
  position: absolute;
  top: 3px;
  left: 0;
}

.specialists__marker img {
  position: relative;
  margin-top: 18px;
  margin-left: 15px;
  width: 37px;
  height: 31px;
  z-index: 2;
}

.specialists__marker span {
  position: relative;
}

.specialists__marker span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 120px solid #e0502e;
  border-right: 120px solid transparent;
}

.specialists__button {
  display: inline-block;
  padding: 12px 22px;
  margin: 0px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.specialists-swiper .swiper-wrapper {
  margin-bottom: 50px;
}

.specialists-swiper .swiper-pagination {
  position: relative;
  bottom: 0 !important;
  left: 0 !important;
}

.specialists-swiper .swiper-pagination-bullet {
  border-radius: 30px;
  border: 1px solid #e0502e;
  background-color: transparent;
  opacity: 1;
  width: 15px;
  height: 15px;
}

.specialists-swiper .swiper-pagination-bullet-active {
  background-color: #e0502e;
}

.certificates {
  padding-top: 100px;
  padding-bottom: 70px;
}

.certificates .separator {
  margin-bottom: 60px;
}

.certificates__items {
  display: flex;
  gap: 30px;
}

.certificates__image {
  cursor: pointer;
  position: relative;
}

.certificates__image img {
  width: 165px;
}

.certificates__marker img {
  width: 15px;
  height: 16px;
  margin-top: 20px;
  margin-left: 15px;
}

.certificates__marker span::before {
  border-top: 80px solid #e0502e;
  border-right: 80px solid transparent;
}

.map {
  position: relative;
  background-image: url(/images/map.png);
  background-size: cover;
  background-position: top center;
  margin-bottom: -100px;
  height: 600px;
  top: -100px;
}

.info .separator {
  width: 56px;
  margin: 0;
}

.info h2,
.info h3 {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  line-height: 32px;
}

.info h2 {
  font-size: 30px;
}

.info h3 {
  font-size: 18px;
}

.info p,
.info li {
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
}

.info ol li {
  list-style: decimal;
}

.info ol li::first-letter {
  text-transform: uppercase;
}

.info ul li {
  list-style: disc;
}

.info li {
  margin-left: 20px;
}

.info li:has(a) {
  color: #e0502e;
}

.info a {
  color: #e0502e;
  transition: color 0.5s ease 0s;
}

.info a:hover {
  color: #757575;
}

.info__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.info__block:last-of-type {
  margin-bottom: 0;
}

.info-accordeon {
  padding: 0 !important;
  position: relative;
}

.info-accordeon__item {
  background-color: #ffffff;
  margin-bottom: 10px !important;
  border: 1px solid #e3e3e3;
  list-style: none !important;
  margin-left: 0 !important;
}

.info-accordeon__item:last-of-type {
  margin-bottom: 0 !important;
}

.info-accordeon__item.active {
  border: 1px solid #e0502e;
}

.info-accordeon__item.active .accordeon__item-head {
  background-color: #e0502e;
}

.info-accordeon__item.active .accordeon__item-head p {
  color: #ffffff;
  text-decoration: underline;
}

.info-accordeon__item.active .accordeon__item-body {
  max-height: 7000px;
  transition: all 1s ease 0s;
}

.info-accordeon__item.active .accordeon__item-arrow img {
  transform: rotate(0deg);
}

.info-accordeon__item-head {
  padding: 16px 20px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.info-accordeon__item-head:hover p {
  text-decoration: underline;
}

.info-accordeon__item-head p {
  margin-bottom: 0;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.info-accordeon__item-body {
  max-height: 0;
  overflow: hidden;
  gap: 0;
  transition: all 0.3s ease 0s;
}

.info-accordeon__item-arrow {
  width: 24px;
  height: 24px;
  background-color: #e0502e;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.info-accordeon__item-arrow img {
  transform: rotate(-90deg);
  transition: transform 0.3s ease 0s;
}

.info-accordeon__item-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.info-accordeon__item-content p {
  margin-bottom: 0;
}

.info-accordeon__item-content b {
  font-weight: 500;
}

.info-accordeon__item-content ol {
  margin-bottom: 20px;
}

.info-accordeon__item-content ol:last-of-type {
  margin-bottom: 0;
}

.info-accordeon__item-content ol li {
  list-style: decimal;
}

.info-accordeon__item-content ol li::first-letter {
  text-transform: uppercase;
}

.info-accordeon__item-content ul {
  margin-bottom: 20px;
}

.info-accordeon__item-content ul:last-of-type {
  margin-bottom: 0;
}

.info-accordeon__item-content ul li {
  list-style: disc;
}

.info-accordeon__item-content li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.info-accordeon__item-content li:last-of-type {
  margin-bottom: 0;
}

.services-widget-accordeon {
  flex-shrink: 0;
  position: relative;
  margin-bottom: 40px;
  width: 262.5px;
}

.services-widget-accordeon__item {
  background-color: #ffffff;
  margin-bottom: 9px;
  border: 1px solid #e3e3e3;
}

.services-widget-accordeon__item:last-of-type {
  margin-bottom: 0;
}

.services-widget-accordeon__item.active {
  border: 1px solid #e0502e;
}

.services-widget-accordeon__item.active .accordeon__item-head {
  background-color: #e0502e;
  color: #ffffff;
}

.services-widget-accordeon__item.active .accordeon__item-body {
  max-height: 500px;
  padding: 10px;
  gap: 3px;
}

.services-widget-accordeon__item.active .accordeon__item-body a {
  max-height: 70px;
  opacity: 1;
}

.services-widget-accordeon__item.active .accordeon__item-arrow img {
  transform: rotate(0deg);
}

.services-widget-accordeon__item-head {
  padding: 15px 20px;
  font-family: Montserrat;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.services-widget-accordeon__item-arrow {
  width: 24px;
  height: 24px;
  background-color: #e0502e;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-widget-accordeon__item-arrow img {
  transform: rotate(-90deg);
  transition: transform 0.3s ease 0s;
}

.services-widget-accordeon__item-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: all 0.3s ease 0s;
}

.services-widget-accordeon__item-body a {
  color: #e0502e;
  position: relative;
  margin-left: 30px;
  max-height: 0;
  line-height: 24px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.services-widget-accordeon__item-body a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -23px;
  width: 8px;
  height: 8px;
  background-color: #757575;
  border-radius: 1000px;
}

.services-widget-accordeon__item-body a:hover {
  color: #757575;
}

.container {
  position: relative;
  height: 100%;
  width: 1140px;
  margin: 0px auto;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.separator {
  margin-bottom: 20px;
  margin-top: 20px;
}

.services {
  position: relative;
  z-index: 2;
  top: -90px;
}

.services__container {
  display: flex;
  justify-content: space-between;
}

.services__card {
  background-color: #ffffff;
  width: 360px;
  height: 260px;
  border: 2px solid #e0502e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.services__card h3 {
  padding-top: 10px;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services__card p {
  color: #757575;
  text-align: center;
  line-height: 150%;
  margin-bottom: 14px;
  width: 80%;
}

.services__card a {
  color: #e0502e;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.services__marker {
  position: absolute;
  top: 3px;
  left: 0;
}

.services__marker img {
  position: relative;
  margin-top: 18px;
  margin-left: 15px;
  z-index: 2;
}

.services__marker span {
  position: relative;
}

.services__marker span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 120px solid #e0502e;
  border-right: 120px solid transparent;
}

.about {
  padding-top: 105px;
  padding-bottom: 128px;
}

.about__container {
  display: flex;
  gap: 30px;
}

.about__image {
  position: relative;
  height: 480px;
  width: 540px;
}

.about__image::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 370px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 10px solid #e0502e;
}

.about__image img {
  width: 480px;
  height: 480px;
  z-index: 2;
  margin-left: 60px;
  position: relative;
}

.about__text {
  padding: 15px;
  padding-bottom: 0;
}

.about__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.about__subtitle {
  color: #e0502e;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.about__paragraph {
  color: #757575;
  line-height: 26px;
  margin-bottom: 40px;
}

.about ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-bottom: 10px;
}

.about ul li {
  width: 50%;
  line-height: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.about__button {
  display: inline-block;
  padding: 12px 22px;
}

.about__button p {
  font-size: 13.891px;
  line-height: 20px;
}

.contacts {
  margin-bottom: 100px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  background-image: url("/images/appoint_img.jpg");
  background-size: cover;
  background-position: 50% 50%;
  align-items: center;
}

.contacts__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.contacts__marker {
  position: absolute;
  top: 3px;
  left: 0;
}

.contacts__marker img {
  position: relative;
  margin-top: 38px;
  margin-left: 25px;
  z-index: 2;
}

.contacts__marker span {
  position: relative;
}

.contacts__marker span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 130px solid #e0502e;
  border-right: 130px solid transparent;
}

.contacts__wrapper {
  display: flex;
  padding-top: 100px;
  margin-bottom: 40px;
  width: 100%;
  z-index: 3;
}

.contacts__worktime {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacts ul {
  width: 320px;
}

.contacts ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contacts ul li:last-of-type {
  margin-bottom: 0;
}

.contacts ul li p:first-child {
  color: #757575;
}

.contacts ul li p:last-child {
  font-weight: 500;
}

.contacts ul li div {
  flex: 1 0;
  border-bottom: 1px dotted #000000;
  height: 1em;
  margin: 0 0.4em;
  transform: translateY(-40%);
}

.contacts__communications {
  width: 50%;
}

.contacts__flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 35px;
}

.contacts__mail,
.contacts__skype {
  display: flex;
}

.contacts__mail p,
.contacts__skype p {
  color: #757575;
}

.contacts__mail a,
.contacts__skype a {
  font-weight: 500;
  padding-left: 13px;
}

.contacts__mail {
  position: relative;
}

.contacts__mail::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  transform: translateX(-50%);
  background-color: #757575;
  width: 1px;
  height: 20px;
}

.contacts__fascia {
  height: 45px;
  background-color: #e0502e;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
  padding-right: 65px;
  position: relative;
}

.contacts__fascia p {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 700;
  line-height: 100%;
}

.contacts__fascia span {
  width: 0;
  height: 0;
  border-top: 45px solid #e0502e;
  border-left: 45px solid transparent;
  position: absolute;
  top: 0;
  left: -45px;
}

.contacts__button {
  display: inline-block;
  padding: 12px 22px;
  margin-bottom: 60px;
  z-index: 3;
}

.bannner {
  position: relative;
  background-image: url(/images/vedio.jpg);
  background-size: cover;
  background-position: top center;
  padding: 100px 0;
  height: 580px;
}

.bannner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.bannner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannner h2 {
  margin-bottom: 20px;
}

.bannner p {
  color: #757575;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
}

.bannner a {
  color: #e0502e;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
}

.stats {
  position: relative;
  background-image: url(/images/counter_bg.jpg);
  background-size: cover;
  background-position: top center;
  padding: 100px 0;
  height: 470px;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.stats__container {
  display: flex;
  justify-content: space-between;
}

.stats__item {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__image {
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  border: 2px solid #e0502e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
}

.stats__image:hover {
  background-color: #e0502e;
}

.stats h2 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.stats p {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  width: 80%;
}

.booking {
  padding-top: 100px;
  z-index: 2;
  position: relative;
}

.booking__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking__subtitle {
  color: #757575;
  text-align: center;
  line-height: 24px;
  margin-bottom: 60px;
}

.booking__box {
  display: flex;
  width: 100%;
}

.booking__box form {
  position: relative;
  width: 800px;
  background-color: #e0502e;
  color: #ffffff;
  padding: 100px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking__inputs {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.booking__inputs input {
  width: 285px;
  height: 50px;
  background-color: #e0502e;
  border: 2px solid #ffffff;
  padding: 14px 12px;
  color: #e3e3e3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.booking__inputs input::-moz-placeholder {
  color: #e3e3e3;
}

.booking__inputs input::placeholder {
  color: #e3e3e3;
}

.booking textarea {
  width: 600px;
  height: 100px;
  background-color: #e0502e;
  border: 2px solid #ffffff;
  padding: 14px 12px;
  color: #e3e3e3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.booking textarea::-moz-placeholder {
  color: #e3e3e3;
}

.booking textarea::placeholder {
  color: #e3e3e3;
}

.booking label {
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.booking__button {
  padding: 15px 23px;
}

.booking__button p {
  font-weight: 700;
}

.booking__button.btn_white {
  padding: 15px 60px;
}

.booking__side {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  box-shadow: 0px 15px 10px -15px #111;
}

.booking__avatar {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__avatar span {
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.booking__image {
  position: relative;
  margin-bottom: 50px;
}

.booking__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 30px;
  height: 30px;
  background-color: #e0502e;
  border-radius: 10000px;
  border: 6px solid #ffffff;
}